doctype html
head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  title= title
  meta(name='viewport' content='width=device-width, initial-scale=1')
  link(rel='stylesheet' type='text/css' media='screen' href='/pages/dashboardAdmin/styles/style.css')
  script(src='main.js')
h4= header
h5= 'Add product form'
h6= errorMessages
form(method='POST' action='/dashboardadmin/addProduct')
  input(name='name' placeholder='product name' type='text')
  input(name='price' placeholder='product price' type='number')
  input(name='submit' value='Add' type='submit')
h5= 'Delete product form'
h6= errorMessageDelete
form(method='GET' action='/dashboardAdmin/find')
  input(name='productId' placeholder='product id' type='text')
  input(name='submit' value='delete' type='submit')
//- each value in newProduct
.product(style='display : #{display}')
  h5= 'founded product'
  p Are you sure , you want to delete this product?
  b name : #{name}
  b price : #{price}
  b id : #{id}
  a(href='/dashboardAdmin/find/delete') Yes
  a(href='/dashboardAdmin') No